<!DOCTYPE html>
<html>
<head>
  <title>Dropshipping</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<!-- Preloader -->
<div id="wrapper">
  <% if current_vendor.present? %>
      <%= render 'layouts/header' %>

      <%= render 'layouts/left_side_navbar' %>
  <% end %>
  <%= yield %>
  <% render 'layouts/footer' %>
</div>
</body>
</html>
